.navbar {
    background-color: #111111;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.logo-img {
    width: 25px;
    margin-right: 10px;
}

.separator {
    color: #ffc23e;
    font-size: 25px;
    font-weight: lighter;
    margin-right: 10px;
    margin-bottom: 8px;
}

.logo-text {
    font-size: 11px;
    font-weight: bold;
    color: white;
}

.btn {
    display: flex;
    align-items: center;
    margin-right: 60px;
    padding: 10px;
}

.btn button {
    background-color: #ffc23e;
    color: #111111;
    border: none;
    border-radius: 6px;
    font-size: 10;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
}


@media only screen and (max-width: 600px) {
    .navbar {
        align-items: center; 
        height: auto; 
      }
      
      .logo-container {
        margin: 10px 0; 
      }
      .logo-img {
        margin-left: 10%;
        width: 30px; 
      }
      .logo-text {
        font-size: 10px; 
      }
      
      .btn {
        margin-top: 10px; 
      } 
}