

.tales {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  

  .tales h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  

  .tales p {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  

  .tales .meta {
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 0.9em;
  }
  

  .tales .date {
    margin-right: 10px;
  }
  
  .tales .time {
    margin-right: 10px;
  }
  
  .tales .views {
    color: #ff5733; 
  }
  
  .tales-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.tales-card h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.tales-card p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.tales-card .meta {
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 0.9em;
}

.tales-card .date {
    margin-right: 10px;
}

.tales-card .time {
    margin-right: 10px;
}

.tales-card .views {
    color: #ff5733;
}